<p><%= link_to 'New', new_letter_path, data: { no_turbolink: true }%></p>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Applicant Name</th>
      <th>Position</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
    <tr>
      <td><%= letter.co_name %></td>
      <td><%= letter.ap_name %></td>
      <td><%= letter.pos_title %></td>

      <td><%= link_to 'Show', letter, data: { no_turbolink: true } %></td>
      <td><%= link_to 'Edit', edit_letter_path(letter), data: { no_turbolink: true } %></td>
      <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' }, data: { no_turbolink: true } %></td>
    </tr>
    <% end %>
  </tbody>
</table>