<p><%= @letter.co_name %></p>
<p><%= @letter.co_address_1 %></p>
<p><%= @letter.co_address_2 %></p>
<p><%= @letter.ap_name %></p>
<p><%= @letter.ap_address_1 %></p>
<p><%= @letter.ap_address_2 %></p>
<p><%= @letter.pos_title %></p>
<p><%= @letter.co_city_state_zip %></p>
<p><%= @letter.ap_city_state_zip %></p>
<p><%= @letter.start_date %></p>
<p><%= @letter.supervisor %></p>
<p><%= @letter.expiry_date %></p>